<div class="container mt-6">
  <div class="card mb-3">
    <h5 class="card-header">Editar Pin</h5>
    <div class="card-body">
      <%= render 'form', pin: @pin %>

      <%= link_to 'Show', @pin, class: 'btn btn-secondary' %> |
      <%= link_to 'Back', pins_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
