<div class="row">
    <% @pins.each do |pin| %>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="<%= pin.image %>" alt="<%= pin.title %>" class="img-fluid">
            <div class="card-body">
                <h5 class="card-title text-center"><%= pin.title %></h5>
                <p class="card-text"><%= pin.description %></p>
                <a href="#" class="btn btn-primary mx-auto">Mas información</a>
            </div>
        </div>
    </div>
    <% end %>
</div>
