<div class="fondo">
</div>
<div class="container-fluid container-index">
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag('back-header.jpg') %>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h1>¿Quienes somos?</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis ante vitae lacinia luctus. Donec in dui at erat tincidunt maximus. Nulla quis ante volutpat, pulvinar arcu quis, varius dolor. Morbi ut varius lacus, in tincidunt ligula. Fusce vel ultricies nisi, sed fermentum felis. Fusce posuere nulla et velit placerat, eu tincidunt nulla rutrum. Etiam nec lorem finibus, mollis sapien eget, hendrerit diam. Donec dui enim, volutpat vitae blandit eget, feugiat a orci. Fusce aliquet vel tellus eget feugiat. Morbi lectus ligula, sodales vestibulum nibh interdum, pulvinar tincidunt elit.

            Phasellus at scelerisque mauris, ut tincidunt massa. Sed vestibulum, nisl a dapibus tempus, felis ex iaculis enim, a dapibus lectus justo quis velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis vulputate risus, efficitur porta ex. Aliquam at finibus lectus. Pellentesque in nisl lectus. Duis ac felis vulputate, dapibus urna at, interdum orci. Aenean ornare elementum porta. Morbi a nibh lacinia, rutrum lacus id, egestas felis. Suspendisse non maximus nisl. Quisque urna nibh, eleifend vitae posuere vitae, mattis eget erat.

            Nulla laoreet consequat libero iaculis mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam massa tellus, vulputate eget pellentesque at, ultricies in leo. Donec sapien mi, tempor at semper id, viverra non enim. Pellentesque semper ligula id posuere pretium. Pellentesque luctus eu odio sed lobortis. Maecenas in mauris volutpat magna placerat semper rhoncus sit amet purus. Sed elit nibh, laoreet sed tristique at, accumsan vitae quam. Sed ut ligula quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent fermentum enim vitae laoreet pellentesque. Donec at iaculis sapien, quis vehicula velit. Nulla ut venenatis tellus.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
