<header class="fondo-contacto">
  <h1 class="display-4 color-1 text-center sombra">Contacto</h1>
  <h5 class="display-4 color-2 text-center sombra">vulputate eget pellentesque at, ultricies in leo. Donec sapien mi</h5>
</header>
<div class="container mt-2">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="text-center">¿Como te ayudamos?</h2>
      <ul>
        <li class="mt-3">
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis ante vitae lacinia luctus. Donec in dui at erat tincidunt maximus. Nulla quis ante volutpat, pulvinar arcu quis, varius dolor. Morbi ut varius lacus, in tincidunt ligula. Fusce vel ultricies nisi, sed fermentum felis</span>
        </li>
        <li class="mt-3">
          <span>Phasellus at scelerisque mauris, ut tincidunt massa. Sed vestibulum, nisl a dapibus tempus, felis ex iaculis enim, a dapibus lectus justo quis velit</span>
        </li>
        <li class="mt-3">
          <span>Nulla laoreet consequat libero iaculis mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam massa tellus</span>
        </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <% if flash[:notice] %>
        <p id="notice" class="alert alert-dark"><%= notice %></p>
      <% end %>
      <div class="card mb-3">
        <h5 class="card-header">Contactanos</h5>
        <div class="card-body">
          <%= render 'form', contact: @contact %>
        </div>
      </div>
    </div>
  </div>
</div>
